:root {
    /* 公告宽度 */
    --vp-bulletin-width: 350px;
    /* 链接颜色、强调色 */
    --vp-c-brand-1: rgba(0, 148, 133, 1);
    /* 链接、按钮 hover 颜色 */
    --vp-c-brand-2: rgba(0, 148, 133, 1);
    /* 背景色、边框色 */
    --vp-c-brand-3: rgba(0, 148, 133, 1);

    /* 导航栏分组 */
    .vp-menu-group {
        .title {
            color: rgba(60, 60, 60, 0.33);
        }
    }
}

[data-theme="dark"] {
    /* 链接颜色、强调色 */
    --vp-c-brand-1: rgba(0, 148, 133, 1);
    /* 链接、按钮 hover 颜色 */
    --vp-c-brand-2: rgba(0, 148, 133, 1);
    /* 背景色、边框色 */
    --vp-c-brand-3: rgba(0, 148, 133, 1);

    /* 导航栏分组 */
    .vp-menu-group {
        .title {
            color: rgba(235, 235, 235, 0.38);
        }
    }
}

/* 首页副标题 */
.hero-tagline {
    color: unset !important;
}

/* 首页文字说明 */
.hero-text {
    margin: 24px 0 40px !important;
}

/* 首页 box */
.vp-home-feature:hover {
    border: 1px solid var(--vp-c-brand-1);
    background-color: rgba(0, 148, 133, 0.1);
}

.vp-swiper .swiper-slide-img {
    /* 轮播图图片拉伸效果 */
    object-fit: fill;
}

.swiper-slide-custom-container {
    /* 轮播图边框 */
    border: 1px solid rgb(177 177 177 / 66%) !important;
}

/* 文档页左侧边栏赞助位，如果提供 top 插槽，则更新 */
#SidebarNav > div.custom-content {
    position: sticky;
    top: 0;
    background-color: var(--vp-sidebar-bg-color);
    z-index: 10;

    @media (max-width: 959px) {
        top: -32px;
    }
}
