:root {
    /* 链接颜色、强调色 */
    --vp-c-brand-1: rgba(0, 148, 133, 1);
    /* 链接、按钮 hover 颜色 */
    --vp-c-brand-2: rgba(0, 148, 133, 1);
    /* 背景色、边框色 */
    --vp-c-brand-3: rgba(0, 148, 133, 1);

    /* 导航栏分组 */

    .vp-menu-group {
        .title {
            color: rgba(60, 60, 60, 0.33);
        }
    }
}

[data-theme="dark"] {
    /* 链接颜色、强调色 */
    --vp-c-brand-1: rgba(0, 148, 133, 1);
    /* 链接、按钮 hover 颜色 */
    --vp-c-brand-2: rgba(0, 148, 133, 1);
    /* 背景色、边框色 */
    --vp-c-brand-3: rgba(0, 148, 133, 1);

    /* 导航栏分组 */

    .vp-menu-group {
        .title {
            color: rgba(235, 235, 235, 0.38);
        }
    }
}

/* 首页非全屏样式 */
.vp-home-hero:not(.full) .hero-container {
    padding-top: 166px !important;
    padding-bottom: 96px !important;
}

/* 首页文字说明 */
.hero-text {
    margin: 24px 0 49px !important;
}

/* 首页按钮 */
.vp-button.medium {
    border-radius: 10px !important;
}

/* 公告板 */
.vp-bulletin {
    width: 380px !important;
}

/* 文档页左侧边栏赞助位，如果提供 top 插槽，则删除 */
#SidebarNav > div.custom-content {
    position: sticky;
    top: 0;
    background-color: var(--vp-sidebar-bg-color);
    z-index: 10;

    @media (max-width: 959px) {
        top: -32px;
    }
}

/* 页脚 */
.vp-footer {
    padding: unset !important;
}